Part 1: Python Scripting, ETL, and Data Modeling

In [1]:

import pandas as pd
import sqlalchemy
import numpy as np

# --- Step 1: Extract ---
# Load sales and customer data
sales_df = pd.read_csv("../data/sales_data.csv")
customers_df = pd.read_csv("../data/customers_data.csv")

# --- Step 2: Transform ---
# Add TotalSales = QuantitySold * Price
sales_df["TotalSales"] = sales_df["QuantitySold"] * sales_df["Price"]

print("Transformed Data:")
display(sales_df)

Transformed Data:

,Date,ProductID,ProductName,QuantitySold,Price,Category,CustomerID,TotalSales
0,2023-02-01,9,Gadget I,10,10.0,Gadgets,102,100.0
1,2023-02-02,10,Gizmo J,3,11.0,Gizmos,103,33.0
2,2023-02-03,1,Widget A,6,2.5,Gadgets,104,15.0
3,2023-02-04,2,Gadget B,9,3.0,Gadgets,105,27.0
4,2023-02-05,3,Widget C,8,4.0,Widgets,101,32.0
5,2023-02-06,4,Gizmo D,6,5.0,Gizmos,102,30.0
6,2023-02-07,5,Widget E,7,6.0,Widgets,103,42.0
7,2023-02-08,6,Gadget F,5,7.0,Gadgets,104,35.0
8,2023-02-09,7,Gizmo G,2,8.0,Gizmos,105,16.0
9,2023-02-10,8,Widget H,11,9.0,Widgets,101,99.0
10,2023-02-11,9,Gadget I,8,10.0,Gadgets,102,80.0
11,2023-02-12,10,Gizmo J,4,11.0,Gizmos,103,44.0
12,2023-02-13,1,Widget A,7,2.5,Gadgets,104,17.5
13,2023-02-14,2,Gadget B,6,3.0,Gadgets,105,18.0
14,2023-02-15,3,Widget C,9,4.0,Widgets,101,36.0
15,2023-02-16,4,Gizmo D,7,5.0,Gizmos,102,35.0
16,2023-02-17,5,Widget E,10,6.0,Widgets,103,60.0
17,2023-02-18,6,Gadget F,4,7.0,Gadgets,104,28.0
18,2023-02-19,7,Gizmo G,1,8.0,Gizmos,105,8.0
19,2023-02-20,8,Widget H,13,9.0,Widgets,101,117.0
20,2023-02-21,9,Gadget I,9,10.0,Gadgets,102,90.0
21,2023-02-22,10,Gizmo J,5,11.0,Gizmos,103,55.0

In [2]:


# Generate dim_date for 2023 to su[pport DateID foreign key

date_range = pd.date_range(start="2023-01-01", end="2023-12-31", freq="D")
dim_date = pd.DataFrame({
    "DateID": date_range.date,
    "Day": date_range.day,
    "Month": date_range.month,
    "Quarter": date_range.quarter,
    "Year": date_range.year
})

display(dim_date)

         DateID  Day  Month  Quarter  Year
0    2023-01-01    1      1        1  2023
1    2023-01-02    2      1        1  2023
2    2023-01-03    3      1        1  2023
3    2023-01-04    4      1        1  2023
4    2023-01-05    5      1        1  2023
..          ...  ...    ...      ...   ...
360  2023-12-27   27     12        4  2023
361  2023-12-28   28     12        4  2023
362  2023-12-29   29     12        4  2023
363  2023-12-30   30     12        4  2023
364  2023-12-31   31     12        4  2023

[365 rows x 5 columns]

In [3]:
# --- Step 3: Load ---
# Create SQLite engine 
from sqlalchemy import create_engine
engine = create_engine("sqlite:///sales_dw.db", echo=True)


# Convert 'Date' column to datetime.date objects for SQLite compatibility
sales_df["DateID"] = pd.to_datetime(sales_df["Date"]).dt.date
# Write tables to SQL database
sales_df.to_sql("fact_sales", con=engine, if_exists="replace", index=False,
                dtype={
                    "DateID": sqlalchemy.types.Date(),
                    "ProductID": sqlalchemy.types.Integer(),
                    "CustomerID": sqlalchemy.types.Integer(),
                    "ProductName": sqlalchemy.types.String(),
                    "QuantitySold": sqlalchemy.types.Integer(),
                    "Price": sqlalchemy.types.Float(),
                    "TotalSales": sqlalchemy.types.Float()
                })

# Load only distinct products into dim_product
dim_product_df = sales_df[["ProductID", "ProductName", "Category"]].drop_duplicates()
              
                                      
sales_df.to_sql("dim_product", con=engine, if_exists="replace", index=False,
                dtype={
                    "ProductID": sqlalchemy.types.Integer(),
                    "ProductName": sqlalchemy.types.String(),
                    "Category": sqlalchemy.types.String(),
                })

customers_df.to_sql("dim_customer", con=engine, if_exists="replace", index=False,
                    dtype={
                        "CustomerID": sqlalchemy.types.Integer(),
                        "CustomerName": sqlalchemy.types.String(),
                        "CustomerEmail": sqlalchemy.types.String(),
                        "CustomerLocation": sqlalchemy.types.String()
                    })

dim_date.to_sql("dim_date", con=engine, if_exists="replace", index=False,
                dtype={
                    "DateID": sqlalchemy.types.Integer(),
                    "Date": sqlalchemy.types.Date(),
                    "Day": sqlalchemy.types.Integer(),
                    "Month": sqlalchemy.types.Integer(),
                    "Quarter": sqlalchemy.types.Integer(),
                    "Year": sqlalchemy.types.Integer()
                })

print("Data loaded successfully into database.")

2025-09-20 22:43:48,148 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-20 22:43:48,153 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("fact_sales")
2025-09-20 22:43:48,154 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,156 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("fact_sales")
2025-09-20 22:43:48,158 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,159 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-09-20 22:43:48,160 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,161 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-09-20 22:43:48,162 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,164 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("fact_sales")
2025-09-20 22:43:48,165 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,167 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-20 22:43:48,167 INFO sqlalchemy.engine.Engine [raw sql] ('fact_sales',)
2025-09-20 22:43:48,170 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("fact_sales")
2025-09-20 22:43:48,171 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,172 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("fact_sales")
2025-09-20 22:43:48,173 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,174 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-20 22:43:48,176 INFO sqlalchemy.engine.Engine [raw sql] ('fact_sales',)
2025-09-20 22:43:48,179 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("fact_sales")
2025-09-20 22:43:48,179 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,181 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("fact_sales")
2025-09-20 22:43:48,181 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,182 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("fact_sales")
2025-09-20 22:43:48,183 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,185 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("fact_sales")
2025-09-20 22:43:48,185 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,186 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("fact_sales")
2025-09-20 22:43:48,187 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,188 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("fact_sales")
2025-09-20 22:43:48,189 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,190 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-20 22:43:48,192 INFO sqlalchemy.engine.Engine [raw sql] ('fact_sales',)
2025-09-20 22:43:48,194 INFO sqlalchemy.engine.Engine
DROP TABLE fact_sales
2025-09-20 22:43:48,195 INFO sqlalchemy.engine.Engine [no key 0.00086s] ()
2025-09-20 22:43:48,202 INFO sqlalchemy.engine.Engine
CREATE TABLE fact_sales (
	"Date" TEXT,
	"ProductID" INTEGER,
	"ProductName" VARCHAR,
	"QuantitySold" INTEGER,
	"Price" FLOAT,
	"Category" TEXT,
	"CustomerID" INTEGER,
	"TotalSales" FLOAT,
	"DateID" DATE
)


2025-09-20 22:43:48,202 INFO sqlalchemy.engine.Engine [no key 0.00092s] ()
2025-09-20 22:43:48,211 INFO sqlalchemy.engine.Engine INSERT INTO fact_sales ("Date", "ProductID", "ProductName", "QuantitySold", "Price", "Category", "CustomerID", "TotalSales", "DateID") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-09-20 22:43:48,212 INFO sqlalchemy.engine.Engine [generated in 0.00106s] [('2023-02-01', 9, 'Gadget I', 10, 10.0, 'Gadgets', 102, 100.0, '2023-02-01'), ('2023-02-02', 10, 'Gizmo J', 3, 11.0, 'Gizmos', 103, 33.0, '2023-02-02'), ('2023-02-03', 1, 'Widget A', 6, 2.5, 'Gadgets', 104, 15.0, '2023-02-03'), ('2023-02-04', 2, 'Gadget B', 9, 3.0, 'Gadgets', 105, 27.0, '2023-02-04'), ('2023-02-05', 3, 'Widget C', 8, 4.0, 'Widgets', 101, 32.0, '2023-02-05'), ('2023-02-06', 4, 'Gizmo D', 6, 5.0, 'Gizmos', 102, 30.0, '2023-02-06'), ('2023-02-07', 5, 'Widget E', 7, 6.0, 'Widgets', 103, 42.0, '2023-02-07'), ('2023-02-08', 6, 'Gadget F', 5, 7.0, 'Gadgets', 104, 35.0, '2023-02-08')  ... displaying 10 of 22 total bound parameter sets ...  ('2023-02-21', 9, 'Gadget I', 9, 10.0, 'Gadgets', 102, 90.0, '2023-02-21'), ('2023-02-22', 10, 'Gizmo J', 5, 11.0, 'Gizmos', 103, 55.0, '2023-02-22')]
2025-09-20 22:43:48,215 INFO sqlalchemy.engine.Engine COMMIT
2025-09-20 22:43:48,222 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-20 22:43:48,224 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dim_product")
2025-09-20 22:43:48,224 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,225 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dim_product")
2025-09-20 22:43:48,226 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,226 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-09-20 22:43:48,227 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,229 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-09-20 22:43:48,230 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,231 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("dim_product")
2025-09-20 22:43:48,231 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,231 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-20 22:43:48,231 INFO sqlalchemy.engine.Engine [raw sql] ('dim_product',)
2025-09-20 22:43:48,231 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("dim_product")
2025-09-20 22:43:48,231 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,231 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("dim_product")
2025-09-20 22:43:48,231 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,238 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-20 22:43:48,240 INFO sqlalchemy.engine.Engine [raw sql] ('dim_product',)
2025-09-20 22:43:48,242 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("dim_product")
2025-09-20 22:43:48,243 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,244 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("dim_product")
2025-09-20 22:43:48,245 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,246 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dim_product")
2025-09-20 22:43:48,246 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,246 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("dim_product")
2025-09-20 22:43:48,246 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,246 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("dim_product")
2025-09-20 22:43:48,250 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,251 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dim_product")
2025-09-20 22:43:48,251 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,251 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-20 22:43:48,251 INFO sqlalchemy.engine.Engine [raw sql] ('dim_product',)
2025-09-20 22:43:48,256 INFO sqlalchemy.engine.Engine
DROP TABLE dim_product
2025-09-20 22:43:48,257 INFO sqlalchemy.engine.Engine [no key 0.00167s] ()
2025-09-20 22:43:48,263 INFO sqlalchemy.engine.Engine
CREATE TABLE dim_product (
	"Date" TEXT,
	"ProductID" INTEGER,
	"ProductName" VARCHAR,
	"QuantitySold" BIGINT,
	"Price" FLOAT,
	"Category" VARCHAR,
	"CustomerID" BIGINT,
	"TotalSales" FLOAT,
	"DateID" DATE
)


2025-09-20 22:43:48,264 INFO sqlalchemy.engine.Engine [no key 0.00074s] ()
2025-09-20 22:43:48,270 INFO sqlalchemy.engine.Engine INSERT INTO dim_product ("Date", "ProductID", "ProductName", "QuantitySold", "Price", "Category", "CustomerID", "TotalSales", "DateID") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-09-20 22:43:48,271 INFO sqlalchemy.engine.Engine [generated in 0.00088s] [('2023-02-01', 9, 'Gadget I', 10, 10.0, 'Gadgets', 102, 100.0, '2023-02-01'), ('2023-02-02', 10, 'Gizmo J', 3, 11.0, 'Gizmos', 103, 33.0, '2023-02-02'), ('2023-02-03', 1, 'Widget A', 6, 2.5, 'Gadgets', 104, 15.0, '2023-02-03'), ('2023-02-04', 2, 'Gadget B', 9, 3.0, 'Gadgets', 105, 27.0, '2023-02-04'), ('2023-02-05', 3, 'Widget C', 8, 4.0, 'Widgets', 101, 32.0, '2023-02-05'), ('2023-02-06', 4, 'Gizmo D', 6, 5.0, 'Gizmos', 102, 30.0, '2023-02-06'), ('2023-02-07', 5, 'Widget E', 7, 6.0, 'Widgets', 103, 42.0, '2023-02-07'), ('2023-02-08', 6, 'Gadget F', 5, 7.0, 'Gadgets', 104, 35.0, '2023-02-08')  ... displaying 10 of 22 total bound parameter sets ...  ('2023-02-21', 9, 'Gadget I', 9, 10.0, 'Gadgets', 102, 90.0, '2023-02-21'), ('2023-02-22', 10, 'Gizmo J', 5, 11.0, 'Gizmos', 103, 55.0, '2023-02-22')]
2025-09-20 22:43:48,273 INFO sqlalchemy.engine.Engine COMMIT
2025-09-20 22:43:48,277 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-20 22:43:48,278 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dim_customer")
2025-09-20 22:43:48,280 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,281 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dim_customer")
2025-09-20 22:43:48,282 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,282 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-09-20 22:43:48,282 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,282 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-09-20 22:43:48,282 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,282 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("dim_customer")
2025-09-20 22:43:48,282 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,282 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-20 22:43:48,288 INFO sqlalchemy.engine.Engine [raw sql] ('dim_customer',)
2025-09-20 22:43:48,290 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("dim_customer")
2025-09-20 22:43:48,292 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,293 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("dim_customer")
2025-09-20 22:43:48,294 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,295 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-20 22:43:48,296 INFO sqlalchemy.engine.Engine [raw sql] ('dim_customer',)
2025-09-20 22:43:48,296 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("dim_customer")
2025-09-20 22:43:48,296 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,296 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("dim_customer")
2025-09-20 22:43:48,300 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,301 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dim_customer")
2025-09-20 22:43:48,301 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,302 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("dim_customer")
2025-09-20 22:43:48,302 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,305 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("dim_customer")
2025-09-20 22:43:48,305 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,306 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dim_customer")
2025-09-20 22:43:48,307 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,308 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-20 22:43:48,309 INFO sqlalchemy.engine.Engine [raw sql] ('dim_customer',)
2025-09-20 22:43:48,310 INFO sqlalchemy.engine.Engine
DROP TABLE dim_customer
2025-09-20 22:43:48,310 INFO sqlalchemy.engine.Engine [no key 0.00042s] ()
2025-09-20 22:43:48,317 INFO sqlalchemy.engine.Engine
CREATE TABLE dim_customer (
	"CustomerID" INTEGER,
	"CustomerName" VARCHAR,
	"CustomerEmail" VARCHAR,
	"CustomerLocation" VARCHAR
)


2025-09-20 22:43:48,318 INFO sqlalchemy.engine.Engine [no key 0.00089s] ()
2025-09-20 22:43:48,324 INFO sqlalchemy.engine.Engine INSERT INTO dim_customer ("CustomerID", "CustomerName", "CustomerEmail", "CustomerLocation") VALUES (?, ?, ?, ?)
2025-09-20 22:43:48,324 INFO sqlalchemy.engine.Engine [generated in 0.00071s] [(101, 'John Doe', 'john.doe@example.com', 'New York'), (102, 'Jane Smith', 'jane.smith@example.com', 'Los Angeles'), (103, 'Michael Johnson', 'michael.johnson@example.com', 'Chicago'), (104, 'Emily Davis', 'emily.davis@example.com', 'Houston'), (105, 'David Wilson', 'david.wilson@example.com', 'Phoenix')]
2025-09-20 22:43:48,327 INFO sqlalchemy.engine.Engine COMMIT
2025-09-20 22:43:48,331 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-20 22:43:48,333 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dim_date")
2025-09-20 22:43:48,333 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,335 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dim_date")
2025-09-20 22:43:48,335 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,337 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-09-20 22:43:48,337 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,339 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-09-20 22:43:48,339 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,341 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("dim_date")
2025-09-20 22:43:48,342 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,343 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-20 22:43:48,344 INFO sqlalchemy.engine.Engine [raw sql] ('dim_date',)
2025-09-20 22:43:48,346 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("dim_date")
2025-09-20 22:43:48,346 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,346 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("dim_date")
2025-09-20 22:43:48,350 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,352 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-20 22:43:48,352 INFO sqlalchemy.engine.Engine [raw sql] ('dim_date',)
2025-09-20 22:43:48,352 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("dim_date")
2025-09-20 22:43:48,352 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,356 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("dim_date")
2025-09-20 22:43:48,357 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,359 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dim_date")
2025-09-20 22:43:48,360 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,361 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("dim_date")
2025-09-20 22:43:48,362 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,364 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("dim_date")
2025-09-20 22:43:48,364 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,364 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dim_date")
2025-09-20 22:43:48,364 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-20 22:43:48,371 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-20 22:43:48,372 INFO sqlalchemy.engine.Engine [raw sql] ('dim_date',)
2025-09-20 22:43:48,375 INFO sqlalchemy.engine.Engine
DROP TABLE dim_date
2025-09-20 22:43:48,375 INFO sqlalchemy.engine.Engine [no key 0.00089s] ()
2025-09-20 22:43:48,384 INFO sqlalchemy.engine.Engine
CREATE TABLE dim_date (
	"DateID" INTEGER,
	"Day" INTEGER,
	"Month" INTEGER,
	"Quarter" INTEGER,
	"Year" INTEGER
)


2025-09-20 22:43:48,384 INFO sqlalchemy.engine.Engine [no key 0.00144s] ()
2025-09-20 22:43:48,402 INFO sqlalchemy.engine.Engine INSERT INTO dim_date ("DateID", "Day", "Month", "Quarter", "Year") VALUES (?, ?, ?, ?, ?)
2025-09-20 22:43:48,406 INFO sqlalchemy.engine.Engine [generated in 0.00558s] [(datetime.date(2023, 1, 1), 1, 1, 1, 2023), (datetime.date(2023, 1, 2), 2, 1, 1, 2023), (datetime.date(2023, 1, 3), 3, 1, 1, 2023), (datetime.date(2023, 1, 4), 4, 1, 1, 2023), (datetime.date(2023, 1, 5), 5, 1, 1, 2023), (datetime.date(2023, 1, 6), 6, 1, 1, 2023), (datetime.date(2023, 1, 7), 7, 1, 1, 2023), (datetime.date(2023, 1, 8), 8, 1, 1, 2023)  ... displaying 10 of 365 total bound parameter sets ...  (datetime.date(2023, 12, 30), 30, 12, 4, 2023), (datetime.date(2023, 12, 31), 31, 12, 4, 2023)]
2025-09-20 22:43:48,413 INFO sqlalchemy.engine.Engine COMMIT
Data loaded successfully into database.

Star schema 

built as a dimensional model Kimbal classical style. Ideal for analytics and reporting.

fact_sales
Keys: DateID, ProductID, CustomerID (PK)
Measures: QuantitySold, Price, TotalSales

Store descriptive attributes that provide context to facts:

dim_customer: who bought the product.
dim_product: what was sold.
dim_date: when it happened.

Why Use a Star Schema?

Simplicity – Easy to understand for business analysts and data scientists.
Performance – Fact tables are optimized for aggregation (SUM, COUNT, AVG, etc.).
Scalability – Works well with large datasets.
Flexibility – Can easily add new dimensions without changing the entire model.
Compatibility – Most BI tools (Power BI, Tableau, Looker) expect star schemas.

Entity model:

                                          dim_customer
                                          +-------------+
                                          | CustomerID  |
                                          | Name        |
                                          | Email       |
                                          | Location    |
                                          +-------------+
                                                |
                                                |
                                          fact_sales
                              +--------------------------+
                              |  DateID (FK)             |  
                              |  ProductID (FK)          |
                              |  CustomerID(FK)          |  
                              |  QuantitySold            |
                              |  Price                   | 
                              |  TotalSales              |  
                              +--------------------------+
                                    |                     |
                                    |                     |
                              +-------------+       +--------------+
                              | dim_date    |       | dim_product  |
                              |-------------|       |------------- |
                              | DateID (PK) |       | ProductID(PK)|
                              | Date        |       | ProductName  |
                              | Day         |       | Category     |
                              | Month       |       +--------------+
                              | Quarter     |
                              | Year        |
                              +-------------+